<div class="list-header">
    <a class="btn btn-back" routerLink="/blog" title="Go to Home">Back to Home</a>
  </div>




<section class="blog-details">
  <h2 class="main-title">{{blogTitle}}</h2>

  <div class="section" *ngFor="let section of blogDetails$" >
    <h3>{{ section.sectionTitle }}</h3>
    <p>{{ section.text }}</p>
    <img [src]="domSanitization.bypassSecurityTrustUrl(section?.imageUrl)" [alt]=" section.sectionTitle "
      class="section-img" />
    <!-- <div class="video-wrapper" *ngIf="section.videoUrl">
      <video *ngIf="section.videoUrl" controls class="section-video">
        <source [src]="domSanitization.bypassSecurityTrustResourceUrl(section.videoUrl)" type="video/mp4" />
        Your browser does not support the video tag.
      </video> 

      <p>{{section.vidio}}</p>
    </div> -->

    <p><span class="mmm">What it is: </span>{{section.Whatitis}}</p>
    <p><span class="mmm">Purpose: </span>{{section.Purpose}}</p>
    <p><span class="mmm">How it helps: </span>{{section.Howithelpsfarmers}}</p>

  </div>
</section>